awscli
ipython
jupyterlab
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
pandas
optuna
mlflow
joblib
xgboost
lightgbm
seaborn
optuna-integration[mlflow]
dvc
dvc-s3
dvc[s3]
-e .
